/*------------------------------------------------------*/
/* FULL WIDTH ANIMATED LAYERS 002
/*------------------------------------------------------*/
#fw_al_002 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
}
#fw_al_002:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_al_002:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_al_002 > .carousel-inner > .carousel-item > img,
#fw_al_002 > .carousel-inner > .carousel-item > a > img {
  margin: auto;
  width: 100% !important;
}
/*---------- SLIDE CAPTION ----------*/

.fw_al_002_slide {
  left: 10%;
  top: 38%;
  right: auto;
  width: 41%;
  margin: auto;
  position: absolute;
  text-align: left;
}
.fw_al_002_slide.fw_al_002_slide_right {
  left: auto;
  right: 0%;
}
.fw_al_002_slide > h1 {
  padding: 0;
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 25px;
  display: inline-block;
  text-transform: capitalize;
font-family: "Montserrat", sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_002_slide > h1 > span {
  padding: 0;
  color: white;
  margin-right: 10px;
  display: inline-block;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_002_slide > p {
  padding: 0;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_002_slide > a,
.fw_al_002_slide > a:visited {
  padding: 4px 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  background: #2a3855;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition: background cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: background cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_002_slide > a:hover,
.fw_al_002_slide > a:active {
  color: #5969dc;
  background: #ffffff;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_002_slide,
  .fw_al_002_slide.fw_al_002_slide_right {
    top: 15px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
  }
  .fw_al_002_slide > h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .fw_al_002_slide > p{
	  font-size: 14px;
  }
  
  #fw_al_002 .lg{
	  font-size: 24px !important;
  }
  
  .fw_al_002_slide > .btns{
	  display: none;
  }
 
  .fw_al_002_slide > button, .fw_al_002_slide > button:visited{
	  display: none;
  }
  
    #slider{
	  margin-top: 71px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_002_slide {
    top: 13%;
	width: 85%;
  }
  
  .fw_al_002_slide > p{
	  font-size: 18px;
  }
  
  #slider{
	  margin-top: 71px;
  }
  .fw_al_002_slide > h1 {
    font-size: 24px;
	font-weight: 700;
  }
  
  #fw_al_002 .lg{
	  font-size: 24px !important;
  }
  
  .fw_al_002_slide > button, .fw_al_002_slide > button:visited{
	  display: none;
  }
  
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_002_slide {
	width: 80%;
	top: 15%;
  }
  
  .fw_al_002_slide > button, .fw_al_002_slide > button:visited{
	  display: none;
  }
  
  .fw_al_002_slide > p{
	  font-size: 18px;
  }
  
  .fw_al_002_slide h1{
	  font-size: 45px;
  }
  
    #slider{
	  margin-top: 71px;
  }
}
  
  @media (min-width: 631px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_002_slide {
	width: 75%;
	top: 14%;
  }
  
  .fw_al_002_slide > a, .fw_al_002_slide > a:visited{
	  top: -10px;
  }
  
 .fw_al_002_slide > p{
	  font-size: 18px;
  }
  .fw_al_002_slide.fw_al_002_slide_right {
    right: -20%;
  }
}


@media (min-width: 768px) and (max-width: 889px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_002_slide {
	width: 75%;
	top: 24%;
  }
  .fw_al_002_slide > h1{
	  font-size: 40px;
  }
  
  .fw_al_002_slide > p{
	  font-size: 18px;
  }
}


@media (min-width: 889px) and (max-width: 950px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_002_slide {
	width: 75%;
	top: 30%;
  }
  .fw_al_002_slide > h1{
	  font-size: 40px;
  }
  
  .fw_al_002_slide > p{
	  font-size: 18px;
  }
}

@media (min-width: 950px) and (max-width: 1087px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_002_slide {
	width: 75%;
	top: 30%;
  }
  .fw_al_002_slide > h1{
	  font-size: 40px;
  }
  
  .fw_al_002_slide > p{
	  font-size: 18px;
  }
}



/*------------------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------*/

/*---------- ps_ease ----------*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/*---------- ps_easeInOut ----------*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/*---------- ps_speedy ----------*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}

/*---------- ps_slowSpeedy ----------*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}

/*---------- ps_easeOutInCubic ----------*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

/*---------- ps_swing ----------*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}

/*---------- ps_easeOutCubic ----------*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

/*---------- ps_easeInOutCubic ----------*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

/*---------- ps_easeOutCirc ----------*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

/*---------- ps_easeOutExpo ----------*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

/*---------- ps_easeInQuad ----------*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}

/*---------- ps_easeOutQuad ----------*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

/*---------- ps_easeInOutQuad ----------*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

/*---------- ps_easeOutQuart ----------*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

/*---------- ps_easeInOutQuart ----------*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}

/*---------- ps_easeOutQuint ----------*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

/*---------- ps_easeInSine ----------*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

/*---------- ps_easeOutSine ----------*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

/*---------- ps_easeInOutSine ----------*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}